<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Assignment_Phase2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetHandler</display-name>
    <servlet-name>GetHandler</servlet-name>
    <servlet-class>servletGetPost.GetHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHandler</servlet-name>
    <url-pattern>/GetHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Posthandler</display-name>
    <servlet-name>Posthandler</servlet-name>
    <servlet-class>servletGetPost.Posthandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Posthandler</servlet-name>
    <url-pattern>/Posthandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cong_servlett_2</display-name>
    <servlet-name>Cong_servlett_2</servlet-name>
    <servlet-class>configration_servlet.Cong_servlett_2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cong_servlett_2</servlet-name>
    <url-pattern>/Cong_servlett_2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Genric_Servlet_3</display-name>
    <servlet-name>Genric_Servlet_3</servlet-name>
    <servlet-class>generic_Servlets.Genric_Servlet_3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Genric_Servlet_3</servlet-name>
    <url-pattern>/Genric_Servlet_3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classes_Interfaces_4</display-name>
    <servlet-name>Classes_Interfaces_4</servlet-name>
    <servlet-class>classes_interfaces.Classes_Interfaces_4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classes_Interfaces_4</servlet-name>
    <url-pattern>/Classes_Interfaces_4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Interfaces</display-name>
    <servlet-name>Interfaces</servlet-name>
    <servlet-class>servletInterfaces.Interfaces</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Interfaces</servlet-name>
    <url-pattern>/Interfaces</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountDashBoard</display-name>
    <servlet-name>AccountDashBoard</servlet-name>
    <servlet-class>Filter.AccountDashBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashBoard</servlet-name>
    <url-pattern>/AccountDashBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accountProfile</display-name>
    <servlet-name>accountProfile</servlet-name>
    <servlet-class>Filter.accountProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountProfile</servlet-name>
    <url-pattern>/accountProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoPage</display-name>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>Filter.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/InfoPage</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>session_tacking.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>session_tacking.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dashboard</display-name>
    <servlet-name>dashboard</servlet-name>
    <servlet-class>URL_Rewrite.dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>URL_Rewrite.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
</web-app>