<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Prctice_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Validation</display-name>
    <servlet-name>Login_Validation</servlet-name>
    <servlet-class>login_validation.Login_Validation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Validation</servlet-name>
    <url-pattern>/Login_Validation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_id</display-name>
    <servlet-name>Product_id</servlet-name>
    <servlet-class>Product_id.Product_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_id</servlet-name>
    <url-pattern>/Product_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>login_validation.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login_validation.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>login_validation.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginp</display-name>
    <servlet-name>Loginp</servlet-name>
    <servlet-class>product_id.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginp</servlet-name>
    <url-pattern>/Loginp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginProduct_id</display-name>
    <servlet-name>LoginProduct_id</servlet-name>
    <servlet-class>Product_id.LoginProduct_id</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginProduct_id</servlet-name>
    <url-pattern>/LoginProduct_id</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_4</display-name>
    <servlet-name>Product_4</servlet-name>
    <servlet-class>productP4.Product_4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_4</servlet-name>
    <url-pattern>/Product_4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Address</display-name>
    <servlet-name>Address</servlet-name>
    <servlet-class>enitity.Address</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Address</servlet-name>
    <url-pattern>/Address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Courses</display-name>
    <servlet-name>Courses</servlet-name>
    <servlet-class>enitity.Courses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Courses</servlet-name>
    <url-pattern>/Courses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eproduct</display-name>
    <servlet-name>Eproduct</servlet-name>
    <servlet-class>enitity.Eproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eproduct</servlet-name>
    <url-pattern>/Eproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhoneNumber</display-name>
    <servlet-name>PhoneNumber</servlet-name>
    <servlet-class>enitity.PhoneNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhoneNumber</servlet-name>
    <url-pattern>/PhoneNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>enitity.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>servlets.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>servlets.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadProductServlet</display-name>
    <servlet-name>ReadProductServlet</servlet-name>
    <servlet-class>servlets.ReadProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadProductServlet</servlet-name>
    <url-pattern>/ReadProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadStudentServlet</display-name>
    <servlet-name>ReadStudentServlet</servlet-name>
    <servlet-class>servlets.ReadStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadStudentServlet</servlet-name>
    <url-pattern>/ReadStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HibernateUtil</display-name>
    <servlet-name>HibernateUtil</servlet-name>
    <servlet-class>util.HibernateUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateUtil</servlet-name>
    <url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
</web-app>